<h2 mat-dialog-title>DELETE EMPLOYEES</h2>
<div mat-dialog-content>
  <p>Are you sure want to delete this data?</p>
</div>
<br />
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-md-6 p-2">
      <button mat-raised-button (click)="closed()" class="w-100" color="warn">
        <mat-icon> close </mat-icon>&nbsp;&nbsp;No
      </button>
    </div>
    <div class="col-md-6 p-2 text-right">
      <button mat-raised-button (click)="deleteEmployee(data.id)" class="w-100" color="primary">
        <mat-icon> check </mat-icon>&nbsp;&nbsp;Yes
      </button>
    </div>
  </div>
</div>