<div class="col-md-12">
  <h2 mat-dialog-title class="p-0">
    <div class="row">
      <div class="col-6">
       <span style="align-self: center;">DETAIL EMPLOYEE</span> 
      </div>
      <div class="col-6" style="text-align: right;">
        <button mat-icon-button (click)="closed()" class="full-width-field">
          <mat-icon> close </mat-icon>
        </button>
      </div>
    </div>
  </h2>
  <mat-divider class="mb-4 mt-4"></mat-divider>
  <div mat-dialog-content>
    <div class="col-md-12">
      <div class="row">
        <!-- Col 1-->
        <div class="col-md-4">
          <label class="mb-2"><strong>Username</strong></label><br>
          <label>{{data.username}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>Email</strong></label><br>
          <label>{{data.email}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>
              Status</strong></label><br>
          <label>{{data.status}}</label>
        </div>
      </div>
    </div>
    <mat-divider class="mb-4 mt-4"></mat-divider>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <label class="mb-2"><strong>First Name</strong></label><br>
          <label>{{data.firstName}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>Birth Date</strong></label><br>
          <label>{{data.birthDate}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>
              Group</strong></label><br>
          <label>{{data.group}}</label>
        </div>
      </div>
    </div>
    <mat-divider class="mb-4 mt-4"></mat-divider>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <label class="mb-2"><strong>Last Name</strong></label><br>
          <label>{{data.lastName}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>
              Basic Salary
            </strong></label><br>
          <label>{{data.basicSalary}}</label>
        </div>
        <div class="col-md-4">
          <label class="mb-2"><strong>Description</strong></label><br>
          <label>{{data.description}}</label>
        </div>
      </div>
    </div>
  </div>
  <mat-divider class="mb-4 mt-4"></mat-divider>
</div>