<h2 mat-dialog-title>LOG OUT</h2>
<div mat-dialog-content>
  <p>Are you sure want to log out?</p>
</div>
<br>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-md-6 p-2">
      <button mat-raised-button (click)="onNoClick()" class="w-100" color="warn">
        <mat-icon> close </mat-icon>&nbsp;&nbsp;No
      </button>
    </div>
    <div class="col-md-6 p-2 text-right">
      <button mat-raised-button class="w-100" (click)="logout()" color="primary">
        <mat-icon> check </mat-icon>&nbsp;&nbsp;Yes
      </button>
    </div>
  </div>
</div>