<section class="login">
    <div class="container  h-100">
        <div class="row align-items-center h-100">
            <div class="col-10 mx-auto">
                <mat-card class="p-0">
                    <div class="row">
                        <div class="col-5 l-side">
                            <img class="img-fluid m-4" src="assets/img/logo.svg" alt="logo">
                        </div>
                        <div class="col-7 r-side">
                            <div class="container h-100">
                                <div class="row align-items-center h-100">
                                    <div class="col-8 mx-auto login_col">
                                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                        <div class="title">
                                            <h3 class="m-0">Welcome back</h3>
                                            <h2><strong>Login to your account</strong></h2>
                                        </div>
                                        <div class="m-container col-md-12">
                                            <form name="form" [formGroup]="loginForm" (submit)="onSubmit()">
                                                <!-- Username -->
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Username</mat-label>
                                                    <input matInput [formControl]="username"
                                                        [errorStateMatcher]="matcher">
                                                    <mat-error *ngIf="username.invalid">
                                                        Username is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <!-- Password -->
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Enter your password</mat-label>
                                                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password"
                                                    [errorStateMatcher]="matcher">
                                                    <mat-error *ngIf="password.invalid">
                                                        Password is required
                                                    </mat-error>
                                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                </mat-form-field>

                                                <button mat-raised-button class="w-100 h-45 mt-4" color="primary">
                                                    Login
                                                </button>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>