.login {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgba(0, 7, 128, 1) 99.8%);

  .l-side {
    height: 70vh;
    background: url(../../../assets/img/login1.png) no-repeat;
  }

  .r-side {
    h1 {
      font-weight: bold;
    }
  }

  .title {
    margin-bottom: 25px;
  }
}


@media screen and (max-width: 1199px) {
  .login {
    .l-side {
      display: none;
    }

    .r-side {
      flex: 0 0 auto;
      width: 100%;

      .login_col {
        flex: 0 0 auto;
        width: 100%;
        padding: 10% 10%;

        h3,h2{
          text-align: center;
        }
      }
    }
  }
}



