<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> <img src="../../../assets/img/favicon.svg" class="img-fluid" style="width: 30px;" alt="">&nbsp;&nbsp;Employee Management</span>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="shadow" #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="/admin/employee">
                <mat-icon> dashboard </mat-icon>&nbsp;&nbsp; Dashboard
            </a>
            <div style="height: 10px"></div>
            <a mat-list-item href="/admin/employee">
                <mat-icon> group </mat-icon> &nbsp;&nbsp; Employee
            </a>
            <mat-divider></mat-divider>
            <div style="height: 10px"></div>
            <a mat-list-item (click)="openDialogLogout()">
                <mat-icon> power_settings_new </mat-icon> &nbsp;&nbsp; Log Out
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100vh;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>