mat-sidenav {
  width: 200px;
  position: fixed;
  top: 60px;
  position: -webkit-sticky;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 1199px) {
  .s-pc{
    display: none;
  }
  .s-mb{
    display: block;
  }
}
