<div class="m-4 employee">
    <mat-card class="shadow" style="margin-bottom: 10px">
        <mat-card-title class="mb-4 mt-2">
            Add Employee
        </mat-card-title>
        <mat-card-content>
            <form name="form" [formGroup]="addEmployeeForm" (submit)="onSubmit()">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput [formControl]="username" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="username.invalid">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" matInput [formControl]="email" [errorStateMatcher]="matcher"
                                placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="email.hasError('required')">
                                Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput [formControl]="firstName" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="firstName.invalid">
                                First Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControl]="lastName" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="lastName.invalid">
                                Last Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input matInput [max]="maxDate" [formControl]="birthDate" [matDatepicker]="picker"
                                [errorStateMatcher]="matcher">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="birthDate.invalid">
                                Birth Date is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Basic Salary (Rp)</mat-label>
                            <input type="number" matInput [formControl]="basicSalary" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="basicSalary.invalid">
                                Basic Salary is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select disableRipple [formControl]="status" [errorStateMatcher]="matcher">
                                <mat-option value="1">Aktif</mat-option>
                                <mat-option value="2">Cuti</mat-option>
                                <mat-option value="3">Pensiun</mat-option>
                            </mat-select>
                            <mat-error *ngIf="status.invalid">
                                Status is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Group</mat-label>
                            <mat-select [formControl]="groupCtrl" placeholder="Group" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="groupFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let group of filteredGroup | async" [value]="group.name">
                                    {{group.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="groupCtrl.invalid">
                                Group is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControl]="description">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="description.invalid">
                                Description is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button [routerLink]="'/admin/employee'" type="button" mat-raised-button class="w-100 h-45 mt-4"
                            color="accent">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" mat-raised-button class="w-100 h-45 mt-4" color="primary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>