@media screen and (max-width: 768px) {
  td {
    font-size: 12px;
  }

  .title {
    // text-align: center;
    line-height: 35px;
  }

  .acts {
    font-size: 12px;
    min-width: 0;
    padding: 0 6px;
  }
}

.act-tbl {
  font-size: medium;
  font-weight: normal;
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}
