<div class="m-4">
    <mat-card class="shadow" style="margin-bottom: 10px">
        <mat-card-title class="mb-4 mt-2">
            <div class="row">
                <div class="col-md-10 mt-4 mb-4 title">
                    Employee List
                </div>
                <div class="col-md-2 mt-4">
                    <a href="/admin/employee/add" mat-raised-button class="w-100" color="primary">
                        + Employee
                    </a>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form name="form" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Status</mat-label>
                            <input matInput formControlName="status">
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <hr>
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="w-100" matSort>
                    <!-- ID Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;">
                            Username </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> First Name </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.firstName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Last Name </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Email </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="birthDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Birth
                            Date </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.birthDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="basicSalary">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Basic
                            Salary </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.basicSalary}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;">
                            Status </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="group">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;"> Group
                        </th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;"> {{row.group}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 11%;">Action</th>
                        <td mat-cell *matCellDef="let row" style="width: 11%;">
                            <button mat-raised-button color="primary" class="acts" [matMenuTriggerFor]="menu">Actions</button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openDialogDetail(row.id)"><span class="badge act-tbl"
                                        style="background: #3f51b5">Detail</span></button>
                                <button mat-menu-item (click)="updateEmployee(row.id)"><span class="badge act-tbl"
                                        style="background: yellowgreen">Edit</span></button>
                                <button mat-menu-item (click)="openDialogDelete(row.id)"><span class="badge act-tbl"
                                        style="background: #f44336">Delete</span></button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter"</td>
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </mat-card-content>
    </mat-card>
</div>