/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~bootstrap/scss/bootstrap';

.m-right-align {
  text-align: right;
}

input.m-right-align::-webkit-outer-spin-button,
input.m-right-align::-webkit-inner-spin-button {
  display: none;
}

input.m-right-align {
  -moz-appearance: textfield;
}

.h-45 {
  height: 45px;
}

.warning {
  background: yellow;
  color: black;
}

.mat-dialog-actions {
  padding: 0px !important;
  display: block !important;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}